@tailwind base;
@tailwind components;
@tailwind utilities;

.p-inputtext {
    box-shadow: none;
}

.p-button {
    box-shadow: none;
}

.p-datatable .p-inputtext {
    border: 1px solid silver;
}

.p-datatable .p-sortable-column.p-highlight {
    background-color: transparent;
}

.p-datatable .p-inputtext {
    padding: 0 5px;

}

.p-checkbox.p-highlight .p-checkbox-box {
    background-color: blue;
}

/* .p-datatable .p-selectable-row,
.p-datatable-scrollable,
.p-datatable-header,
.p-datatable-footer,
.p-filter-column {
    background-color: #fff !important;
    color: black;
}

.p-tabview-nav-link,
.p-tabview-nav {
    background-color: #fff !important;
    color: black;
}

.p-dropdown-label {
    background-color: #fff !important;
    color: black;
}

/* Dark Mode styles */

/* @media (prefers-color-scheme: dark) {

    .p-datatable .p-selectable-row,
    .p-datatable-scrollable,
    .p-datatable-header,
    .p-datatable-footer,
    .p-filter-column {
        background-color: #334155 !important;
        color: white;
    }

    .p-tabview-nav-link,
    .p-tabview-nav {
        background-color: #334155 !important;
        color: white;
    }

    .p-dropdown-label {
        background-color: #334155 !important;
        color: white;
    }

}  */